body 
{
	padding-top: 60px;
}
input, button, textarea
{
	outline: none !important;
}
.vertical-center 
{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.validation-errors
{
	color: #E44646;
}
.nav-content 
{
	padding: 0;
}
.product-image img 
{
	width: 98px;
}
.page-title 
{
	margin-bottom: 30px;
}
.delete-link 
{
	color: #E87C7C;
}
.add-button
{
	float: right;
	position: relative;
	top: 21px;
}
.add-product-layout 
{
	margin-top: 50px;
}
.control-label
{
	text-align: left !important;
}
.gshop-logo img
{
	height: 60px;
}
.table-responsive.container
{
	padding-right: 0px;
}