body 
{
	padding-top: 60px;
}
input, button, textarea
{
	outline: none !important;
}
.vertical-center 
{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.validation-errors
{
	color: #E44646;
}
.nav-content 
{
	padding: 0;
}
.navbar-left li:first-child a, .none-padding
{
	padding-left: 0;
}
.product-image img 
{
	width: 98px;
}
.page-title 
{
	margin-bottom: 30px;
}
.delete-link 
{
	color: #E87C7C;
}
.add-button
{
	float: right;
	position: relative;
	top: 21px;
}